@import url('https://fonts.google.com/specimen/Poppins');
@import url('https://fonts.google.com/specimen/Open+Sans');
  /*-------------------------/
 /       Grid System        /
/-------------------------*/
.col-mb-1-6{
width: 16.66666667%;   
}
.col-mb-2-6{
width: 33.33333333%;   
}
.col-mb-3-6{
width: 50%;   
}
.col-mb-4-6{
width: 66.66666667%;   
}
.col-mb-5-6{
width: 83.33333333%;   
}
.col-mb-6-6{
width: 100%;   
}

  /*---------------------------/
 /       FullBody             /
/---------------------------*/
:root{
    --primary-color: hsl(257, 40%, 49%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: var(--primary-color);
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
}
.container-body{
    padding: 0 9vw;
}
img{
    width: 100%;
    height: auto;
}
  /*--------------------------/
 /            Logo           /
/--------------------------*/
.container-logo{
    padding: 10vw 0;
}
  /*--------------------------/
 /         Content           /
/--------------------------*/
.content-text{
    color: white;
    padding-top: 10vw;
    text-align: center;
}
.content-left{
    padding-top: 4vw;
}
.content-text h1{
    line-height: 9vw;
    font-weight: 700;
    font-size: 6.2vw;
}
.content-text p{
    padding: 4vw 0;
    opacity: 80%;
    font-weight: 400;
    font-size: 4.1vw;
}
 /*-------button-----*/
 .content-btn{
    text-align: center ;
 }
.content-btn input{
    border: 0px;
    border-radius: 15vw;
    padding: 2vw 15vw;
    font-size: 4.1vw;
    cursor: pointer;
    box-shadow: 0 3px #999;
    outline: none;
    color: #696969;
}
.content-btn input:hover{
    opacity: 60%;
}
.content-btn input:active{
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
  /*--------------------------/
 /       Footer-link         /
/--------------------------*/
.container-footer-link{
    padding-top: 30vh;
    padding-bottom: 10vh;
    height: 5em;
    text-align: center;
}
.container-footer-link .icon{
    display: inline-block;
    margin: 1vw 0;
}
.container-footer-link i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 3.5vw 3.5vw;
    color: white;
    margin-right:1.7vw;
    font-size: 4vw;  
}
.container-footer-link .face{
    padding: 3.5vw 4.5vw;
}
  /*--------------------------/
 /       Media Query         /
/--------------------------*/
@media screen and (min-width:481px){
/* PC */
    .col-pc-1-6{
    width: 16.66666667%;   
    }
    .col-pc-2-6{
    width: 33.33333333%;   
    }
    .col-pc-3-6{
    width: 50%;   
    }
    .col-pc-4-6{
    width: 66.66666667%;   
    }
    .col-pc-5-6{
    width: 83.33333333%;   
    }
    .col-pc-6-6{
    width: 100%;   
    }
    /* .wrap-pc{
    max-width: 1440px;
    margin:0 auto;
    } */
    /*FulBody*/
    .container-body{
    background-image: url('images/bg-desktop.svg');
    padding: 0 5vw;
    }
    /*Logo*/
    .container-logo {
        padding: 10vh 0;
    }
    /*Content*/
    .container-content{
        display: flex;
        padding-top: 2vw;
    }
    .content-left{
        padding: 0;
    }

    .content-text {
        padding: 3vw 0 0 4vw;
        text-align: left;
    }
    .content-text h1 {
        line-height: 4.3vw;
        font-size: 3.2vw;
    }
    .content-text p {
        padding: 2vw 0;
        font-size: 1.5vw;
    }
    /*Button*/
    .content-btn {
    text-align: left;
    padding-left: 4vw;
    }
    .content-btn input{
    border-radius: 3.5vw;
    padding: .7vw 3.5vw;
    font-size: 1.5vw;
    }
    /*Footer-link*/
    .container-footer-link {
    padding-top: 15vh;
    padding-bottom: 10vh;
    text-align: right;
    }
    .container-footer-link i {
    padding: 1vw 1vw;
    margin-right: 1vw;
    font-size: 1vw;
    }
    .container-footer-link .face {
    padding: 1vw 1.3vw;
    }
}